* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgb(146, 222, 209);
}
.counter-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
    background-color: rgb(73, 65, 123);
}

.counter-content {
    color: white;
}
.counter-content input {
    color: rgba(0, 0, 0, 1);
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 1rem;
}
.data-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data-list p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}
